{% extends 'logged.base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<style>
    .icons{
        font-size: 30px;
    }
    td{
        vertical-align: middle;
    }
</style>
<h1 class="text-center">{{ book.name }}'s Details</h1>
<div class="container p-0">
    <div class="row align-items-baseline">
        <div class="col-md-11">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody>
        <tr>
        </tr>
        <tr>
            <td>{{ book.name }}</td> <td>{{ book.author }}</td>
        </tr>

        </tbody>
    </table>
        </div>
    </div>
</div>

{% endblock %}
